@media screen and (max-width: 600px) {

	.search-nav,
	.search_box{		
		max-width: 300px;
	}

	li > p {
		margin: 0;
		padding: 0;
	}

	.mob {
		float: left;
	}

	.just {
		display: none;
	}

	.mobile_button {
		display: block;
	}
}

@media screen and (orientation:landscape) {
	.search-nav {
		height: 350px;
	}

	.search-nav,
	.search_box{		
		max-width: 300px;
	}

	li {
		padding: 0;
	}

	li > p {
		margin: 0;
	}

	.mob {
		float: left;
	}
	
	.mobile_button {
		display: block;
	}
}