@media screen and (max-width: 600px) {

	.search-nav,
	.search_box{		
		max-width: 50%;
	}

	.marker-title,
	.marker-body {
		font-size: 0.7em;
	}

	li {
		padding: 0;
	}

	.flickr-image-container img {
	    position: relative;
	    display: block;
	    margin: auto;
	    max-width: 325px;
	    overflow: hidden;
	    height: 195px;
	}

	.modal-images{
	    max-width: 325px;
	    min-width: 325px;
	    height: 260px;
	    margin: 30% auto;
	}
}

@media screen and (max-width: 750px) and (orientation:landscape) {
	.flickr-image-container img {
	    position: relative;
	    display: block;
	    margin: auto;
	    max-width: 325px;
	    overflow: hidden;
	    height: 195px;
	}

	.modal-images{
		max-width: 325px;
	    min-width: 325px;
	    height: 260px;
		margin: 7% auto;
	}

	#search-container {
		display: none;
	}
}