html, body {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
}

ul {
    list-style-type: none;
}

p {
    margin: 0;
}

hr {
    border: 1px solid #e8acac;
}

.marker-title {
    font-size: large;
    font-weight: bold;
    margin-top: 15px;
    color: #6c6c71;
}

#map-canvas {
    position: absolute;
    height: 100%;
    width: 100%;
}

.search-bar {
    position: absolute;
    z-index: 2;
}

.search-nav {
    width: 380px;
    max-height: 550px;
    background-color: rgba(256, 256, 256, .7);
    overflow: hidden;
    border: 2px solid gray;
}

.scroll {
    max-height: 480px;
    overflow: scroll;
    margin: 0 5px;
}

#search_box {
    margin-left: 3.3em;
    margin-top: 2em;
    width: 250px;
    height: 30px;
    border-radius: 1px;
}

.infoTitle {
    color: #7e7e96;
    text-align: center;
    font-size: 15px;
}
