html,
body {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
}

ul {
    list-style-type: none;
}

hr {
    border: 1px solid #e8acac;
}

li {
    padding-top: 15px;
    padding-bottom: 15px;
}

li:hover {
    background-color: orange;
    cursor: pointer;
}

p.just {
    text-align: justify;

}

p.center { 
    text-align: center;
    font-size: 1.1em;
}

p.center-small {
    text-align: center;
    font-size: 0.8em;
}

a {
    text-decoration: none;
}

.marker-title {
    font-size: large;
    font-weight: bold;
    color: #6c6c71;
}

.map-canvas {
    position: absolute;
    height: 100%;
    width: 100%;
}

.search-bar {
    position: absolute;
    z-index: 2;
}

.search-nav {
    width: 380px;
    max-height: 550px;
    background-color: rgba(255, 255, 255, 0.7);
    overflow: scroll;
    border: 2px solid gray;
}

.scroll {
    max-height: 480px;
    margin: 0 5px;
}

.search_box {
    margin-left: 3.3em;
    margin-top: 1em;
    width: 250px;
    height: 30px;
    border-radius: 1px;
}

.infoTitle {
    color: #7e7e96;
    text-align: center;
    font-size: 15px;
}

.reset-container {
    position: absolute;
    z-index: 2;
    width: 100%;
    bottom: 0;
    float: middle;
}

.weather-small {
    width: 30px;
    min-height: 96px;
    float: right;
    border: solid white 2px;
    background-color: #a9a398;
    opacity: 0.7;
    font-size: 14px;
    color: black;
    outline: none;
    border-radius: 10px;
}

.weather-big {
    width: 250px;
    height: 90px;
    float: right;
    margin: 0;
    border: solid white 2px;
    background-color: #a9a398;
    opacity: 0.99;
    font-size: 14px;
    color: black;
    outline: none;
    border-radius: 10px;
}

.reset {
    height: 75px;
    width: 75px;
    float: right;
    margin: 0 10px 15px 0;
    border: solid white 2px;
    background-color: #a9a398;
    opacity: 0.7;
    font-size: 14px;
    color: black;
    outline: none;
    border-radius: 50%;
}

#reset:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}

#weather:hover {
    background-color: orange;
    cursor: pointer;    
}

.img_desc {
    display: block;
    margin: 0 auto;
}

.weatherTitle {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.3em;
}

.weatherBody_text {
    margin-left: 10px;
    width: 40%;
    float: left;    
}

.weatherBody_text > p,
.weatherBody_img > p {
    margin: 0px;
}

.weatherBody_img {
    width: 50%;
    float: left;
}

.weather_img {
    max-width: 30px;
}

.mobile_button {
    background-color: #a9a398;
    opacity: 0.8;
    min-height: 96px;    
    width: 30px;
    border: solid white 2px;
    border-radius: 10px;
    display: none;
    
}
